[agent]
node_id           = {{ inventory_hostname }}
controller_host   = {{ controller_host }}
controller_port   = {{ controller_port }}
push_interval     = {{ push_interval_seconds }}
log_path          = {{ agent_log_dir }}/agent.log
